.jumbatron {
    height: 100vh;

    background: linear-gradient(rgb(40, 77, 207) 0%, rgb(18, 141, 209) 54.69%, rgb(30, 184, 205) 93.75%);
    margin-top: -60px;
    padding: calc(60px + 20px) 40px 20px;
}
