.contactBlock {
    background-color: rgba(30, 184, 205, 0.85) !important;
    max-width: 400px;
    margin: 0 auto;

    & .listItem {
        padding: 5px;
        & p {
            margin-bottom: 0!important;
        }
    }
}

