@font-face {
    font-family: Black;
    src: url(src/fonts/Lato-Black.ttf);
}
@font-face {
    font-family: BlackItalic;
    src: url(src/fonts/Lato-BlackItalic.ttf);
}

* {
    box-sizing: border-box;
    font-family: Black;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}

body {
    margin: 0;
}
